:root {
  --font-family: 'Helvetica', Arial, sans-serif;
  color: white;
  background-color: #121212;
}

body {
  font-family: var(--font-family);
  margin:0;
  padding: 0;
  min-height: 100vh;
}
header {
  padding: 0;
  margin:0;
}
article {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}
.profile {
  border: 0.2rem solid white;
  border-radius: 0.3rem;

}
.profile h1 {
  font-size: 5rem
}
.profile img {
  height: 5rem;
}