:root {
  --bg: #0b0c10;
  --box: #1f2833;
  --box-hover: #2c303a;
  --accent: #66fcf1;
  --text-primary: #c5c6c7;
  --text-secondary: #45a29e;
  --transition-speed: 600ms;
}
 body {
  background-color: var(--bg);
  color: var(--text-primary);
  transition: background-color var(--transition-speed), color var(--transition-speed);
  margin: 0.5rem;
  border:#66fcf1 solid 1px;
}
main {
  height: 100dvh;
}
@media screen and (max-width: 600px) {
  
  
}