:root {
  font-size: 1rem;
  font-family: 'Open Sans';
  --text-primary: #fefefd;
  --text-secondary: #376e6f;
  --text-glow: #f6fcdf;
  --bg: #2f4454;          /* Background/Main */
  --accent: #2e151b;      /* Buttons/Highlights/SectionDividers */
  --hover: #da7b93;       /* links/hovereffects/subtlehighlights */
  --heading: #1c3334;     /* headings/borders */
  --transition-speed: 600ms;
}
 body {
  background-color: var(--bg);
  color: var(--text-primary);
  transition: background-color var(--transition-speed), color var(--transition-speed);
  margin:0%;
  padding: 0%;
  min-height: 100vh;
  border:#da7b93 1px solid;
}
main{
  border:#da7b93 1px solid;
}
nav {
  background: transparent;
  position: fixed;
  min-width: 100%;
  height: 50px;
  border:#da7b93 1px solid;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
}
nav li {
  height: 50px;
  margin-right: 1rem;
}
nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  align-items: center;
  display: flex;
  color: var(--text-secondary);
  font-weight: 600;
  border:#da7b93 1px solid;
}
nav a:hover {
  background-color: var(--hover);
  color: var(--text-glow);
  color: white;
}
nav li:first-child {
  margin-right: auto;
}
footer {
  background: transparent;
  position: fixed;
  min-width: 100%;
  border:#da7b93 1px solid;
}
h1 {
  font-size: 5rem;
  margin: 0;
  color: var(--text-secondary);
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  color: var(--text-secondary);
}